<!-- left menu mobile -->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <div class="mbmenu">
    <div class="row head">
      <div class="col-4">
        <form action="">
          <div class="form-group selectWrapper">
            <select id="inputState" class="form-control selectBox">
              <option disabled="" selected="">Hà Nội</option>
              <option>Hồ Chí Minh</option>
              <option>Yên Bái</option>
            </select>
          </div>
        </form>
      </div>
      <div class="col-4 menulink">
        <a href="#">GIỚI THIỆU</a>
      </div>
      <div class="col-4 menulink">
        <a href="#">MY VNPT</a>
      </div>
    </div>
    <div class="row cndn">
      <div class="col-6"><a href="#">CÁ NHÂN</a></div>
      <div class="col-6"><a href="#">DOANH NGHIỆP</a></div>
    </div>
    <div class="row submobile">
      <div class="col-6 ">
        <a href="di-dong.html"><img src="assets/images/mn1.png"></a>
        <p><a href="di-dong.html">Di động</a></p>
      </div>
      <div class="col-6">
        <a href="4g.html"><img src="assets/images/mn2.png"></a>
        <p><a href="4g.html">4G VinaPhone</a></p>
      </div>
      <div class="col-6">
        <a href="internet.html"><img src="assets/images/mn3.png"></a>
        <p><a href="internet.html">Internet <br>& Cố định</a></p>
      </div>
      <div class="col-6">
        <a href="tich-hop.html"><img src="assets/images/mn5.png"></a>
        <p><a href="tich-hop.html">Gói cước <br>tích hợp</a></p>
      </div>
      <div class="col-6">
        <a href="truyen-hinh.html"><img src="assets/images/mn4.png"></a>
        <p><a href="truyen-hinh.html">Truyền hình</a></p>
      </div>
      <div class="col-6">
        <a href="ho-tro.html"><img src="assets/images/mn6.png"></a>
        <p><a href="ho-tro.html">Hỗ Trợ</a></p>
      </div>
    </div>
    <div class="row searchmb">
      <form action="">
        <div class="form-group">
          <input type="text" name="name" class="form-control" id="search" aria-describedby="emailHelp" placeholder="Tìm kiếm">
          <a href="#"></a>
        </div>

      </form>
    </div>
    <div class="row social justify-content-center">
      <a href="#"><img src="assets/images/fb-icon-mb.png"></a>
      <a href="#"><img src="assets/images/youtube-icon-mb.png"></a>
      <a href="#"><img src="assets/images/google-icon-mb.png"></a>
    </div>
  </div>
  <!-- mobile menu -->
  <div id="showLeftPush" class="ismobile">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>

<!-- header mobile -->
<div class="menu-mobile ismobile">
  <a href="http://hellomedia.vn/vnpt.vn/index.html">
    <img class="logo" src="assets/images/logo-mb.png">
  </a>
</div>
<!-- menu -->
<div class="menu ispc">
  <div class="container clearfix">
    <a href="http://hellomedia.vn/vnpt.vn/index.html"><img class="logo" src="assets/images/logo-vnpt.jpg" /></a>
    <a class="link-top" href="#">CÁ NHÂN</a>
    <a class="link-top" href="#">DOANH NGHIỆP</a>
    <a class="link-top" href="#">GIỚI THIỆU</a>
    <form action="">
      <div class="form-group">
        <input type="text" name="name" class="form-control" id="search" aria-describedby="emailHelp" placeholder="Tìm kiếm">
        <a href="#"></a>
      </div>

    </form>
    <a class="link-top" href="">Ý KIẾN KHÁCH HÀNG</a>

    <form action="" class="location">
      <div class="form-group">
        <select>
          <option>Hà Nội</option>
          <option>Hồ chí Minh</option>
          <option>Yên Bái</option>
        </select>
      </div>
    </form>

  </div>
</div>
<!-- submenu    -->
<div class="submenu ispc">
  <div class="container">
    <ul class="clearfix">
      <a href="di-dong.html">
        <li>
          <img src="assets/images/mn-icon1.png">
          <p>DI ĐỘNG</p>
        </li>
      </a>

      <a href="4g.html">
        <li>
          <img src="assets/images/mn-icon2.png">
          <p>4G VINAPHONE</p>
        </li>
      </a>

      <a href="internet.html">
        <li>
          <img src="assets/images/mn-icon3.png">
          <p>INTERNET & CỐ ĐỊNH</p>
        </li>
      </a>

      <a href="truyen-hinh.html">
        <li>
          <img src="assets/images/mn-icon4.png">
          <p>TRUYỀN HÌNH</p>
        </li>
      </a>

      <a href="tich-hop.html">
        <li>
          <img src="assets/images/mn-icon5.png">
          <p>GÓI CƯỚC TÍCH HỢP</p>
        </li>
      </a>

      <a href="ho-tro.html">
        <li>
          <img src="assets/images/mn-icon6.png">
          <p>HỖ TRỢ</p>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="assets/images/mn-icon7.png">
          <p>MY VNPT</p>
        </li>
      </a>
    </ul>
  </div>
</div>