<!-- banner -->
<div class="banner">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item">
        <img class="bnpc" src="assets/images/homebanner.jpg" width="100%">
        <img class="bnmb" src="assets/images/banner-mobile.jpg" width="100%">
        <div class="carousel-caption d-none d-md-block">

          <p><a href="#">Xem gói cước</a><a href="#">Gói cước ưu đãi</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bnpc" src="assets/images/homebanner1.jpg" width="100%">
        <img class="bnmb" src="assets/images/banner-mobile.jpg" width="100%">

        <div class="carousel-caption d-none d-md-block">
          <p><a href="#">Xem gói cước</a><a href="#">Gói cước ưu đãi</a></p>
        </div>
      </div>
      <div class="carousel-item active">
        <img class="bnpc" src="assets/images/homebanner.jpg" width="100%">
        <img class="bnmb" src="assets/images/banner-mobile.jpg" width="100%">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- news   -->
<div class="news">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 left">
        <a href="chi-tiet-tin.html">
          <img src="assets/images/news1.jpg">
        </a>
        <a class="title" href="chi-tiet-tin.html">VinaPhone - Nhà mạng truyền cảm hứng cho cộng đồng</a>
        <p class="desc">Từ âm nhạc đến thể thao, từ việc mở ra các sân chơi đến việc khơi nguồn cảm hứng cho giới trẻ,
          những hoạt động của Vinaphone gần đây mang lại nhiều hiệu quả</p>
        <a href="chi-tiet-tin.html" class="link-news">Xem Thêm<i class="fa fa-chevron-right"></i></a>
      </div>
      <div class="col-md-12 col-lg-6 right">
        <div class="row">
          <div class="item col-12 col-md-6 col-lg-12">
            <div class="row">
              <div class="col-3 col-lg-4 img">
                <a href="chi-tiet-tin.html"><img src="assets/images/news2.jpg" /></a>
              </div>
              <div class="col-9 col-lg-8 text">
                <a href="chi-tiet-tin.html" class="title">VinaPhone Sôi nổi giải Marathon Quốc tế Di sản Hà Nội 2018
                </a>
                <a href="chi-tiet-tin.html" class="link-news">Xem Thêm<i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>

          <div class="item col-12 col-md-6 col-lg-12">
            <div class="row">
              <div class="col-3 col-lg-4 img">
                <a href="chi-tiet-tin.html">
                  <img src="assets/images/news3.jpg" />
                </a>
              </div>
              <div class="col-9 col-lg-8 text">
                <a href="chi-tiet-tin.html" class="title">
                  "Chịu chi" như nhà mạng VinaPhone: Mỗi ngày tặng khách một xe SH
                </a>
                <a href="chi-tiet-tin.html" class="link-news">Xem Thêm<i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>

          <div class="item col-12 col-md-6 col-lg-12">
            <div class="row">
              <div class="col-3 col-lg-4 img">
                <a href="chi-tiet-tin.html">
                  <img src="assets/images/news4.jpg" />
                </a>
              </div>
              <div class="col-9 col-lg-8 text">
                <a href="chi-tiet-tin.html" class="title">
                  4 lý do đầu số 08x VinaPhone hút hàng chỉ sau vài ngày mở bán chính thức
                </a>
                <a href="chi-tiet-tin.html" class="link-news">Xem Thêm<i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>

          <div class="item col-12 col-md-6 col-lg-12">
            <div class="row">
              <div class="col-3 col-lg-4 img">
                <a href="#">
                  <img src="assets/images/news4.jpg" />
                </a>
              </div>
              <div class="col-9 col-lg-8 text">
                <a href="chi-tiet-tin.html" class="title">4 lý do đầu số 08x VinaPhone hút hàng chỉ sau vài ngày mở bán
                  chính thức
                </a>
                <a href="chi-tiet-tin.html" class="link-news">Xem Thêm<i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- phone -->
<div class="phone">
  <div class="container header">
    <div class="row">
      <div class="headtitle col-12 col-md-12 col-lg-2">
        <div class="wraptitle">
          <img src="assets/images/icon-phone1.png" height="30px">
          <a href="#">Di động</a>
        </div>
      </div>
      <header class="scroll col-lg-10">
        <div class="">
          <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#tratruoc" class="active show">Trả trước</a></li>
            <li><a data-toggle="tab" href="#trasau">Trả sau</a></li>
            <li><a data-toggle="tab" href="#internet">Mobile internet</a></li>
            <li>
              <form action="">
                <div class="selectWrapper">
                  <select id="inputState" class="form-control selectBox">
                    <option disabled="" selected="">Tìm kiếm theo nhu cầu</option>
                    <option>Giá cao đến thấp</option>
                    <option>Giá Thấp đến cao</option>
                  </select>
                </div>
              </form>
            </li>
          </ul>

        </div>
      </header>
    </div>
  </div>
  <div class="container">
    <div class="tab-content">
      <div class="tab-pane active show" id="tratruoc" role="tabpanel" aria-labelledby="tratruoc-tab">
        <div style="clear: both;"></div>
        <div class="carousel-wrap">
          <div class="owl-carousel owl-theme packdetail owl-phone">
            <div class="item">
              <div class="card">
                <div class="head">
                  <a href="chi-tiet.html" class="title">GÓI CƯỚC HỌC SINH SINH VIÊN</a>
                  <p class="des">Giá chỉ: <strong>50.000 vnđ/sim</strong></p>
                </div>
                <img class="card-img-top" src="assets/images/package1.jpg" alt="Card image cap">

                <div class="des1">
                  <p>Tặng <strong>30,000đ/tháng</strong> trong 48 tháng</p>
                  <p>Tặng <strong>150MB/tháng</strong> trong 12 tháng</p>
                </div>
                <p class="card-button"><a href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a></p>
              </div>
            </div>
            <div class="item">
              <div class="card">
                <div class="head">
                  <a href="chi-tiet.html" class="title">GÓI CƯỚC THOẠI CẢ NĂM</a>
                  <p class="des">Tặng 2GB sau khi kích hoạt</p>
                </div>
                <img class="card-img-top" src="assets/images/package2.jpg" alt="Card image cap">

                <div class="des1">
                  <p>Tặng 1000 phút gọi nội mạng hàng tháng</p>
                  <p>Giá chỉ từ: <strong>350.000 vnd</strong>/Bộ sim kit</p>

                </div>
                <p class="card-button"><a href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a></p>

              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="head">
                  <a href="chi-tiet.html" class="title">GÓI CƯỚC INTERNET KHÔNG GIỚI HẠN</a>
                  <p class="des">Giá chỉ: <strong>300.000 vnđ/sim</strong></p>
                </div>
                <img class="card-img-top" src="assets/images/package3.jpg" alt="Card image cap">
                <div class="des1">
                  <p><strong>Ưu đãi khi kích hoạt:</strong> 30 phút gọi nội mạng và 30 sms nội mạng</p>
                  <p><strong>Ưu đãi hàng tháng:</strong>gói MAX100</p>

                </div>
                <p class="card-button"><a href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a></p>

              </div>
            </div>

          </div>
        </div>

        <a class="morep" href="#">Xem Thêm <i class="fa fa-chevron-right"></i></a>

      </div>
      <div class="tab-pane" id="trasau" role="tabpanel" aria-labelledby="trasau-tab">
        <div class="carousel-wrap">
          <div class="owl-carousel owl-theme packdetail owl-phone">

            <div class="item">
              <div class="card">
                <div class="head">
                  <a href="chi-tiet.html" class="title">GÓI CƯỚC HỌC SINH SINH VIÊN</a>
                  <p class="des">Giá chỉ: <strong>50.000 vnđ/sim</strong></p>
                </div>
                <img class="card-img-top" src="assets/images/package1.jpg" alt="Card image cap">

                <div class="des1">
                  <p>Tặng <strong>30,000đ/tháng</strong> trong 48 tháng</p>
                  <p>Tặng <strong>150MB/tháng</strong> trong 12 tháng</p>
                </div>
                <p class="card-button"><a href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a></p>
              </div>
            </div>
            <div class="item">
              <div class="card">
                <div class="head">
                  <a href="chi-tiet.html" class="title">GÓI CƯỚC THOẠI CẢ NĂM</a>
                  <p class="des">Tặng 2GB sau khi kích hoạt</p>
                </div>
                <img class="card-img-top" src="assets/images/package2.jpg" alt="Card image cap">

                <div class="des1">
                  <p>Tặng 1000 phút gọi nội mạng hàng tháng</p>
                  <p>Giá chỉ từ: <strong>350.000 vnd</strong>/Bộ sim kit</p>

                </div>
                <p class="card-button"><a href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a></p>

              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="head">
                  <a href="chi-tiet.html" class="title">GÓI CƯỚC INTERNET KHÔNG GIỚI HẠN</a>
                  <p class="des">Giá chỉ: <strong>300.000 vnđ/sim</strong></p>
                </div>
                <img class="card-img-top" src="assets/images/package3.jpg" alt="Card image cap">
                <div class="des1">
                  <p><strong>Ưu đãi khi kích hoạt:</strong> 30 phút gọi nội mạng và 30 sms nội mạng</p>
                  <p><strong>Ưu đãi hàng tháng:</strong>gói MAX100</p>

                </div>
                <p class="card-button"><a href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a></p>

              </div>
            </div>

          </div>
        </div>

        <a class="morep" href="#">Xem Thêm <i class="fa fa-chevron-right"></i></a>

      </div>
      <div class="tab-pane" id="internet" role="tabpanel" aria-labelledby="internet-tab">
        <div class="carousel-wrap">
          <div class="owl-carousel owl-theme packdetail owl-phone">

            <div class="item">
              <div class="card">
                <div class="head">
                  <a href="chi-tiet.html" class="title">GÓI CƯỚC HỌC SINH SINH VIÊN</a>
                  <p class="des">Giá chỉ: <strong>50.000 vnđ/sim</strong></p>
                </div>
                <img class="card-img-top" src="assets/images/package1.jpg" alt="Card image cap">

                <div class="des1">
                  <p>Tặng <strong>30,000đ/tháng</strong> trong 48 tháng</p>
                  <p>Tặng <strong>150MB/tháng</strong> trong 12 tháng</p>
                </div>
                <p class="card-button"><a href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a></p>
              </div>
            </div>
            <div class="item">
              <div class="card">
                <div class="head">
                  <a href="chi-tiet.html" class="title">GÓI CƯỚC THOẠI CẢ NĂM</a>
                  <p class="des">Tặng 2GB sau khi kích hoạt</p>
                </div>
                <img class="card-img-top" src="assets/images/package2.jpg" alt="Card image cap">

                <div class="des1">
                  <p>Tặng 1000 phút gọi nội mạng hàng tháng</p>
                  <p>Giá chỉ từ: <strong>350.000 vnd</strong>/Bộ sim kit</p>

                </div>
                <p class="card-button"><a href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a></p>

              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="head">
                  <a href="chi-tiet.html" class="title">GÓI CƯỚC INTERNET KHÔNG GIỚI HẠN</a>
                  <p class="des">Giá chỉ: <strong>300.000 vnđ/sim</strong></p>
                </div>
                <img class="card-img-top" src="assets/images/package3.jpg" alt="Card image cap">
                <div class="des1">
                  <p><strong>Ưu đãi khi kích hoạt:</strong> 30 phút gọi nội mạng và 30 sms nội mạng</p>
                  <p><strong>Ưu đãi hàng tháng:</strong>gói MAX100</p>

                </div>
                <p class="card-button"><a href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a></p>

              </div>
            </div>

          </div>
        </div>

        <a class="morep" href="#">Xem Thêm <i class="fa fa-chevron-right"></i></a>

      </div>
    </div>
  </div>
</div>

<!-- internet -->
<div class="internet">
  <div class="container-fuild head">
    <div class="container">
      <div class="row">
        <div class="headtitle col-12 col-md-12 col-lg-3">
          <div class="wraptitle">
            <img src="assets/images/internet-icon.png" height="30px">
            <a href="#">Internet & Truyền hình</a>
          </div>
        </div>
        <div class="headmenu col-12 col-md-9 col-lg-7 justify-content-center ">
          <ul class="nav nav-tabs">
            <li><a data-toggle="tab" class="active show" href="#internet1">Internet</a></li>
            <li><a data-toggle="tab" href="#truyenhinh">Truyền hình theo yêu cầu</a></li>
            <li class="ispc"><a data-toggle="tab" href="#tichhop">Gói cước tích hợp</a></li>
          </ul>
        </div>
        <div class="headform col-12  col-md-3 col-lg-2 justify-content-lg-end">
          <a href="#" class="more">Xem thêm</a>
        </div>
      </div>

    </div>
  </div>
  <div class="container-fuild">

    <div class="tab-content">
      <div class="tab-pane fade active show" id="internet1" role="tabpanel" aria-labelledby="internet1-tab">
        <div style="clear: both"></div>
        <div class="carousel-wrap itnet">
          <div class="owl-carousel owl-theme owl-internet">

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>


          </div>
        </div>

      </div>
      <div class="tab-pane" id="truyenhinh" role="tabpanel" aria-labelledby="truyenhinh-tab">
        <div class="carousel-wrap itnet">
          <div class="owl-carousel owl-theme owl-internet">

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>


          </div>
        </div>

      </div>
      <div class="tab-pane" id="tichhop" role="tabpanel" aria-labelledby="tichhop-tab">
        <div class="carousel-wrap itnet">
          <div class="owl-carousel owl-theme owl-internet">

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 20
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet1.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER20
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>190.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>190.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 20Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 20Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>

            <div class="item">
              <div class="card">
                <div class="titlem slmobile">
                  <a href="chi-tiet.html">
                    CÁP QUANG FIRBER 16
                  </a>
                </div>
                <a href="chi-tiet.html">
                  <img class="card-img-top" src="assets/images/home-internet2.jpg" alt="Card image cap">
                </a>
                <a href="chi-tiet.html" class="title slpc">
                  CÁP QUANG FIRBER16
                </a>
                <div class="row des">
                  <div class="col-12 col-md-6 left">
                    <p class="tag ispc">Giá chỉ từ: </p>
                    <p class="dt ispc"><strong>170.000/tháng</strong></p>
                    <p class="tag ismobile">Giá chỉ từ: <strong>170.000/tháng</strong></p>
                  </div>
                  <div class="col-12 col-md-6 right">
                    <p class="tag ispc">Internet cáp quang</p>
                    <p class="dt1 ispc"><strong>Siêu tốc 16Mbps</strong></p>
                    <p class="tag ismobile">Internet cáp quang: <strong>Siêu tốc 16Mbps</strong></p>
                  </div>
                </div>
                <p class="card-button">
                  <a class="button" href="chi-tiet.html">XEM CHI TIẾT<i class="fa fa-chevron-right"></i></a>
                </p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- banner body -->
<div class="banner-body">

  <a href="#">
    <img class="bnpc" src="assets/images/banner-body.jpg" />
    <img class="bnmb" src="assets/images/bn-body-mb.jpg" />
  </a>
</div>

<!-- hotro -->
<div class="support">
  <div class="container">
    <div class="title">
      <p>Hỗ Trợ</p>
    </div>
    <div class="support-content">
      <div class="row">
        <div class="col-6 col-lg-3 spitem">
          <div>
            <img src="assets/images/support1.jpg">
            <a class="ispc" href="#">Ưu đãi khuyến mãi</a>
            <a class="ismobile" href="#">Ưu đãi <br> khuyến mãi</a>
          </div>
        </div>
        <div class="col-6 col-lg-3 spitem">
          <div>
            <img src="assets/images/support2.jpg">
            <a class="ispc" href="#">Cách thức mua hàng</a>
            <a class="ismobile" href="#">Cách thức<br> mua hàng</a>
          </div>
        </div>
        <div class="col-6 col-lg-3 spitem">
          <div>
            <img src="assets/images/support3.jpg">
            <a class="ispc" href="#">Đăng ký thông tin<br> thuê bao</a>
            <a class="ismobile" href="#">Đăng ký thông <br>tin thuê bao</a>
          </div>
        </div>
        <div class="col-6 col-lg-3 spitem">
          <div>
            <img src="assets/images/support4.jpg">
            <a class="ispc" href="#">Chuyển mạng giữ số</a>
            <a class="ismobile" href="#">Chuyển mạng<br> giữ số</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- apps -->
<div class="apps">
  <div class="container">
    <img src="assets/images/icon-phone.png" height="30px">
    <label>Các ứng dụng</label>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 item item1">
        <div class="content-app">
          <div class="row">
            <div class="col-5 col-md-6 appleft">
              <img src="assets/images/logo-vinphone-plus.jpg">
            </div>
            <div class="col-7 col-md-6 d-flex align-items-end justify-content-center leftct">
              <div>
                <p>VinaPhone Plus</p>
                <a href="#">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 item item2">
        <div class="content-app">
          <div class="row">
            <div class="col-5 col-md-6 appleft">
              <img src="assets/images/logo-vpoint.jpg">
            </div>
            <div class="col-7 col-md-6 d-flex align-items-end justify-content-center leftct">
              <div>
                <p>Vpoint</p>
                <a href="#">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 item item3">
        <div class="content-app">
          <div class="row">
            <div class="col-5 col-md-6 appleft">
              <img src="assets/images/logo-vnpt-app.jpg">
            </div>
            <div class="col-7 col-md-6 d-flex align-items-end justify-content-center leftct">
              <div>
                <p>My VNPT</p>
                <a href="#">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 item item4 hidden">
        <div class="content-app">
          <div class="row justify-content-center">
            <div class="col-md-6 ">
              <img src="assets/images/icon-add.jpg">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- start googlemap -->
<div class="gmap">
  <div class="form-map container-fuild">
    <div class="content-form-map row">
      <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
        <label>Tìm cửa hàng <span>VinaPhone</span> gần nhất</label>
      </div>
      <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
        <form action="">
          <select id="address">
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="googlemap">
    <div class="container-fuild">
      <div class="content-map">
        <div class="location container">
          <div class="card">
            <div class="card-text">
              <p class="text-left">TÌM ĐIỂM GIAO DỊCH</p>
            </div>
            <div class="card-body">
              <ul class="box-list-ch" id="list-ch"></ul>
            </div>
          </div>
        </div>
        <div id="g-map"> </div>
      </div>
    </div>
  </div>
</div>