<!-- subscribe -->
<div class="subscribe í">
  <div class="container ">
    <label>Đăng ký nhận bản tin </label>
    <div class="wrapsub">
      <input type="text " class="subi " name="subscribe " placeholder="nhập email của bạn ">
      <a href="# "> Gửi </a>
    </div>

  </div>
</div>

<!-- subfooter -->
<div class="sub-footer ">
  <div class="container ">
    <div class="row ">
      <div class="col-lg-3 col-12 fsearch justify-content-center  ispc">
        <div class="row justify-content-center ">
          <div class="col-md-12 col-10 ">
            <p>vnpt.com.vn</p>
            <input type="text " class="form-control input-border " placeholder="Tìm kiếm... " textname="search ">
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-12 justify-content-sm-center ">
        <ul>
          <li>
            <div class="card ">
              <img class="card-img-top mx-auto d-block " src="assets/images/footer_icon2.jpg " alt="Card image cap ">
              <div class="card-body ">
                <p class="card-text text-center "><a href="# ">Hotline: 18001166</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="card ">
              <img class="card-img-top mx-auto d-block " src="assets/images/footer_icon3.jpg " alt="Card image cap ">
              <div class="card-body ">
                <p class="card-text text-center "><a href="# ">vinaphone@vnpt.vn</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="card ">
              <img class="card-img-top mx-auto d-block " src="assets/images/footer_icon4.jpg " alt="Card image cap ">
              <div class="card-body ">
                <p class="card-text text-center "><a href="# ">Khảo sát khách hàng</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="card ">
              <img class="card-img-top mx-auto d-block " src="assets/images/footer_icon5.jpg " alt="Card image cap ">
              <div class="card-body ">
                <p class="card-text text-center "><a href="# ">Q&A</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- foooter -->
<div class="footer ">
  <div class="container ">
    <div class="row ">
      <div class="col-md-6 col-lg-4 logo ">
        <img src="assets/images/logo_footer.png ">
      </div>
      <div class="col-md-6 col-lg-4 follow justify-content-md-center justify-content-sm-left ">
        <p>
          Theo dõi chúng tôi:
          <a href="# "><img src="assets/images/fb-icon.png "></a>
          <a href="# "><img src="assets/images/youtube-icon.jpg "></a>
          <a href="# "><img src="assets/images/google-icon.jpg "></a>

        </p>

      </div>
      <div class="col-md-12 col-lg-4 copyright ">
        <p>VNPT Vinaphone &copy; 2018</p>
      </div>
    </div>
  </div>
</div>